.content-page-wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);

  .right-column {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 100px;

    .about-name {
      font-size: 2em;
      color: $teal;
      font-weight: 700;
      line-height: 110%;
    }

    .about-sub-title {
      font-size: 1.35em;
      margin-bottom: 15px;
    }

    .about-list-item {
      display: flex;
      padding-left: 10px;
  
      .about-bullet {
        font-size: .9em;
        color: $teal;
        text-align: center;
      }
  
      .about-content {
        font-size: 1em;
        margin: 0px 0px 5px 0px;
      }
    }

    .contact-link-wrapper {
      padding-top: 10px;
    }

    .contact-link {
      font-size: 1.25em;
      text-decoration: none;
      color: $teal;
      font-weight: 900;
    }

    .contact-bullet-points {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 21px;

      .bullet-point-group {
        display: flex;
        align-items: center;

        .icon {
          font-size: 2em;
          color: $teal;
        }

        .text {
          font-size: 1.5em;
          font-weight: 900;
          margin-left: 21px;
          
          .mailto, .linkedIn {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}